<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card>
        <v-card-title v-if="!not_found" class="headline">{{this.username}}'s Honks</v-card-title>
        <v-card-title v-if="not_found" class="headline">User Not found.</v-card-title>
      </v-card>
    </v-flex>
    <v-flex
      xs12
      sm8
      md6
    >
      <v-btn @click="updateHonks" color="info">Refresh</v-btn>
    </v-flex>
    <v-flex v-for="honk in honks" :key="honk.time"
      xs12
      sm8
      md6
    >
      {{honk.text}}
    </v-flex>
  </v-layout>
</template>

<script>
import HonkLogo from '~/components/HonkLogo.vue'
const Room = require('ipfs-pubsub-room')
import {init, createUser, genKey, keyExists, makeHonk, removeHonk, getHonks, getProfile, getRemoteUser, makeObject} from '~/util/ipfs-utils.js'

export default {
  components: {
    HonkLogo
  },
  data(){
    return {
      not_found: false,
      username: "",
      ipfs: null,
      profile: {},
      honks: [],
      room: null,
      record: {
        name: null,
        value: null
      }
    }
  },
  async mounted(){
    const password = localStorage.getItem('password')
    if (password){
      this.ipfs = await init('honker', password)
    } else {
      this.ipfs = await init('honker-temp')
    }
    this.record.name = this.$route.params.id
    await this.updateHonks()
    await this.subscribe()
  },

  methods: {
    async updateHonks(){
      try {
        const user = await getRemoteUser(this.$route.params.id)
        //const user = await getRemoteUser(this.$route.params.id, true)
        this.honks = user.honks
        this.profile = user.profile
        this.username = user.profile.name
        this.record.value = user.value
        this.not_found = false
      } catch (e){
        console.log(e)
        this.not_found = true
        return false
      }
      return true
    },
    async subscribe(){
      this.room = Room(this.ipfs, `/user/${this.$route.params.id}`)
      this.room.on('message', async (msg) => {
        console.log(msg)
        var e = makeObject(msg.data)
        if (e.event == "honk"){
          this.honks.unshift(e.honk)
        }
      })
    }
  }
}
</script>
