<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-xs-center">
        <honk-logo />
      </div>
      <v-card>
        <v-card-title class="headline">Honker - A funny app for a funny world</v-card-title>
      </v-card>
    </v-flex>
    <v-flex v-if="!logged_in" xs12 sm8 md6>
          <v-text-field
            v-if="!existing_user"
            v-model="username"
            counter="25"
            label="Username"
          ></v-text-field>
          <v-text-field
                v-model="password"
                :append-icon="show_password ? 'visibility' : 'visibility_off'"
                :type="show_password ? 'text' : 'password'"
                name="password"
                label="Key Password"
                :hint="existing_user ? 'The password you set previously':'At least 20 characters'"
                :counter="!existing_user"
                @click:append="show_password = !show_password"
          ></v-text-field>
          <v-text-field
                v-if="!existing_user"
                v-model="confirm_password"
                :append-icon="show_password ? 'visibility' : 'visibility_off'"
                :type="show_password ? 'text' : 'password'"
                name="password"
                label="Confirm password"
                hint="Same as the password"
                :counter="!existing_user"
                @click:append="show_password = !show_password"
          ></v-text-field>
      <v-btn v-if="existing_user" @click="loadAccount" color="info">Decrypt Key</v-btn>
      <v-btn v-else @click="createAccount" color="info">Generate Key</v-btn>
    </v-flex>
    <v-flex v-if="logged_in" xs12 sm8 md6>
      <v-btn @click="openPage" color="info">Open Public Feed</v-btn>
    </v-flex>
    <v-flex
      xs12
      sm8
      md6
      v-if="logged_in"
    >
      <v-textarea
          name="honk"
          label="Honk"
          v-model="honk_text"></v-textarea>
      <v-btn @click="honk" color="info">Honk</v-btn>
    </v-flex>
    <v-flex v-for="honk in honks" :key="honk.time"
      xs12
      sm8
      md6
    >
      {{honk.text}}
      <v-btn @click="delHonk(honk.time)" color="info">Delete Honk</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import HonkLogo from '~/components/HonkLogo.vue'
const Room = require('ipfs-pubsub-room')
import {init, createUser, genKey, keyExists, makeHonk, removeHonk, getHonks, getProfile, makeBuffer} from '~/util/ipfs-utils.js'

export default {
  components: {
    HonkLogo
  },
  data(){
    return {
      username: "",
      password: "",
      confirm_password: "",
      show_password: false,
      logged_in: false,
      existing_user: false,
      user_id: null,
      ipfs: null,
      honk_text: "My life is now a comedy.",
      profile: {},
      honks: [],
      room: null,
      record: {
        name: null,
        value: null
      }
    }
  },
  async mounted(){
    this.user_id = localStorage.getItem('user')
    console.log(this.user_id)
      if (this.user_id){
        this.existing_user = true
    }
  },
  methods: {
    async honk(){
      const honk = {
        time: Date.now(),
        text: this.honk_text
      }
      console.log(this.room.getPeers())
      this.record = await makeHonk(this.record.name, honk)
      this.room.broadcast(makeBuffer({ event: "honk", honk: honk, cid: this.record.value }))
      this.updateHonks(this.record.name)
    },
    async updateHonks(){
      this.honks = await getHonks(this.record.name)
    },
    async delHonk(time){
      await removeHonk(this.record.name, time)
      await this.updateHonks()
    },
    async createAccount(){
      if (!(this.password == this.confirm_password)){
        return
      }
      this.ipfs = await init('honker', this.password)
      this.record = await createUser(this.username)
      console.log(this.record)
      this.profile = await getProfile(this.record.name)
      localStorage.setItem("user", this.record.name)
      localStorage.setItem("password", this.password) // remove once js-ipfs DHT is completed
      this.joinRoom()
      this.logged_in = true
    },
    async loadAccount(){
      this.ipfs = await init('honker', this.password)
      this.profile = await getProfile(this.user_id)
      this.record.name = this.user_id
      this.updateHonks()
      this.joinRoom()
      this.logged_in = true
    },
    openPage(){
      window.open("#/user/"+this.record.name, '_blank');
    },
    joinRoom(){
      this.room = Room(this.ipfs, `/user/${this.record.name}`)
      this.room.on('message', (msg) => {
        console.log(msg)
      })
      this.room.on('peer joined', (msg) => {
        console.log(msg)
      })
    }
  }
}
</script>
